header {
    font-family: "American Typewriter", sans-serif;
    background: darkseagreen;
    padding: 12px;
    color: black;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 25px;
    font-weight: 200;
}

button {
    border: none;
    background: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 5px 18px;
    border-radius: 2px;
}

.search {
    display: flex;
}

.search input {
    width: 11em;
    margin-right: 3px;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
}

.map {
    height: 100%;
    background: blue;
}
